<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div id="loginForm">
    <h2>Login</h2>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">

        <label>Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>

